<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./css/case_studies.css" style="text/css">
    <link rel="stylesheet" href="./FontAwesome/web-fonts-with-css/css/fontawesome-all.min.css">

    <title>brij</title>
  </head>

  <body>
    <!-- Intro -->
    <div id="intro">
      <h1>Redefining the music discovery app</h1>
      <h4>brij: A Product Design Case Study</h4>
      <img src="./assets/brij/coverphoto.png" alt="">
      <p class="caption">brij is a mobile application that incentivizes music discovery through social networks</p>
    </div>

    <!-- The Problem -->
    <div id="problem">
      <h2>The Problem</h2>
      <p>As an avid music listener, I find myself using Spotify and other music applications at least for a few hours each day. Over the summer, a good friend of mine brought up her love for Spotify’s friend feed, and how she enjoyed keeping track of the songs that her friends were listening to. She also explained how in the last year, she discovered more songs that paralleled her music preference through word-of-mouth than through Spotify’s recommendation feature.</p>
      <img src="./assets/brij/friendfeed.png" class="snippet" alt="">
      <p class="caption">Snippet of Spotify Friend Feed</p>
      <p>However, to this day, Spotify lacks to implement its friend feed feature on Spotify mobile. For these reasons, my friend wanted to create an mobile application which capitalized on music discovery through friend groups and other social networks.</p>
    </div>

    <!-- User Research -->
    <div id="userresearch">
      <h2>User Research</h2>
      <p>Before attempting to design the application, I sent out a google form and posted it to all of my social media platforms. I included questions regarding the usefulness and accuracy of Spotify’s music recommendations and how effective it was to for user’s to enjoy their recommended songs as well as their desire to add those tracks to their playlists.</p>
      <p>It turns out a majority of users find the music recommendation algorithm to be a “hit or miss”, where more than half of the respondents admitted the music they were recommended did not match their music preferences or taste. And even when users did enjoy a song, they weren’t persuaded enough to add those songs to their playlists.</p>
    </div>

    <!-- Approach -->
    <div id="approach">
      <h2>Approach</h2>
      <p>The idea was to bring emphasis back to friend-on-friend music sharing. Based on the user research, only 1 of every 8 songs recommended via algorithm was enjoyed by a user, enough to be added to a playlist. The approach was not to criticize algorithmic recommendations, but to bring light to another avenue of music discovery, through social networks and transmission.</p>
      <img src="./assets/brij/Mobile.png" class="mobile" alt="">
      <p class="caption">High level understanding of brij's approach</p>
      <img src="./assets/brij/sketch.png" class="sketch" alt="">
      <p class="caption">Initial sketches of potential brij features and layouts</p>
      <p>More importantly, I wanted to implement design features that allowed users to discover new music and data about their friends quickly and effectively. Brij would essentially be an on-the-go app that made music discovery.</p>
      <p>Most people do not listen to full length tracks before deciding if they like a song or not, they usually skim through tracks and decide within seconds whether the melodies or musical attributes of songs align with their music taste.</p>
      <p>I also wanted to incorporate interfaces which were similar to those of other popular music apps such as Spotify, Apple Music, and Soundcloud.</p>
      <p>Reducing the learning curve and timeframe of a new application would improve the user onboarding process, experience, and retention.</p>
    </div>

    <!-- Branding and Style -->
    <div id="branding">
      <h2>Branding and Style</h2>
      <img src="./assets/brij/styleguide.png" class="onehundred" alt="">
      <p class="caption">Style Guide and Element Descriptions</p>
      <h4>Color</h4>
      <p>I placed a huge emphasis on the color psychology as I wanted brij to allow users to recognize its connection to Spotify while also maintain its own style and identity. I decided on a dark background to emphasize formality, prestige and power which also helps to increase the readability of text. I then chose two main accents, the eucalyptus green which signifies a subtle connection to Spotify and a dark blue which neutralizes the flashy green accents. I then created a blue/green gradient which I used for specific elements that were made to catch the user’s attention by contrasting well with the background.</p>
      <h4>Logo</h4>
      <p>Originally, the idea was to design a literal bridge. After looking through some ideas on Dribbble, I realized I wasn’t very fond of having a generic bridge represent the app. All of my previous iterations were too messy or cluttered, and just didn’t encompass the idea of brij itself.</p>
      <img src="./assets/brij/formation.png" class="seventyfive" alt="">
      <p class="caption">Logo Formation</p>
      <p>Then, I came to the realization that the sound waves from the sound icon which I was using in the profile containers could be rotated and used to create a logo that just made sense: a simple, geometric design that not only depicted a bridge but was literally stripped from a sound/music icon. I applied the blue/green gradient to represent the before and after of a person who is content with his existing knowledge of music (blue — contentment) and suddenly discovers an increase in music wealth (green — discovery).</p>
    </div>

    <!-- App Overview -->
    <h2>App Overview</h2>
    <img src="./assets/brij/brij.png" class="onehundred" alt="">
    <h3>1. Friend Feed</h3>
    <p>The landing page features a UI similar to the Spotify friend feed. I originally wanted to separate the profile containers with dividers but I realized that with so much information being displayed, removing the dividers would ease the cognitive load and drive attention towards the words and descriptions.</p>
    <img src="./assets/brij/landingpage.png" class="landingpage" alt="">
    <p class="caption">Landing Page with profile displays</p>
    <p>Each profile contains a profile picture, name, song, and artist — all the essential information. I also included the “live listening” glowing ring around the profile and sound icon with the gradient color to draw attention to select friends who were listening to songs at that moment. I believe incorporating the “live listening” interaction brings a level of connection between users.</p>
    <h4>Preview A Song</h4>
    <img src="./assets/brij/songpreview.png" class="songpreview" alt="">
    <p class="caption">Song preview and histogram display</p>
    <p>I wanted to add a feature that made it quick and simple to preview any song. To preview, you would simply tap a profile container and a sound icon will appear. Tap the icon and the track begins to play as the container begins to display a frequency histogram. The user then can drag and scroll the yellow bar throughout different parts of the song to listen to distinct sections of each track. The visual display of the track allows the user to find distinct sections of songs to hear the important rhythms and melodies that would define a track.</p>
    <h4>Add to Playlist</h4>
    <p>Because brij works through a user’s Spotify profile, being able to add discovered songs to playlists is an extremely useful and important function.</p>
    <img src="./assets/brij/addplaylist.png" class="addplaylist" alt="">
    <p class="caption">Adding a selected track to an existing Spotify playlist</p>
    <p>I made the “Add to Playlist” gesture similar to the Spotify mobile “Add to Queue” gesture because active users of Spotify are conditioned to perform this motion if they desire to play a certain song. Only now, instead of tapping on a menu icon and clicking the “Add to Playlist” option, a user can simply swipe right and have a playlist menu open to select. The call to action is then rewarded with a confirmation message to ensure that the user’s discovered song now belongs in his/her playlists.</p>
    <h4>Move to Profile</h4>
    <p>In Spotify, the swipe left feature usually was reserved for a “Add to Library” or “Remove From Library” action which I felt was very ineffective and futile. Because the tap gesture was reserved for previewing songs, I wanted to add symmetry to the app flow by including a mirrored swipe feature to indicate a move towards a profile. I believe the swipe left/right gestures bring centralization and control to the app flow.</p>
    <img src="./assets/brij/changeprofile.png" class="moveprofile" alt="">
    <p class="caption">Page flow with universal swiping gesture</p>
    <h3>2. Profile Layout</h3>
    <img src="./assets/brij/profile.png" class="onehundred" alt="">
    <p class="caption">Profile Landing Page</p>
    <p>I wanted the profile layouts to display a variety of music data that would interest other users. Besides the recently played data, I also wanted to show the top 5 tracks and top 5 artists. From the user research, responders wanted to know general yet intriguing information without having to read pages and pages of user summaries, so I felt a ranked lists would do the job.</p>
    <p>Granted with all the data that was to be displayed, I faced the challenge of how to show the profile information all at once so that a user can waste less time scrolling to find specific data. After a few sketches, I decided on a horizontal scrollbar that displayed each data point uniformly across the screen. This feature allows a user to swipe side to side to easily navigate from one data category to the other.</p>
    <img src="./assets/brij/profilenavigation.png" class="onehundred" alt="">
    <p class="caption">Horizontal Scrollbar displaying different profile data</p>
    <h3>3. GPS Discovery</h3>
    <img src="./assets/brij/cooldisplay.png" class="seventyfive" alt="">
    <p>A final feature I wanted to implement was the GPS discovery feature. I took inspiration off of a cognitive science and music course I took a few months ago.</p>
    <img src="./assets/brij/comm118.png" class="onehundred" alt="">
    <p class="caption">Breakdown and meaning of the discovery design feature</p>
    <p>I liked the idea of a “friend radar” and I wanted to find a way to implement it into an appealing and highly functional design. The end product was a marriage between the network transmission graph with the nautical radar design that displayed friend profiles based on a GPS location tracker. Users could simply tap on a friend icon and be directed to that friend’s profile to check-in on what music he/she has been listening to.</p>
    <!-- What I Learned-->
    <h2>What I Learned</h2>
    <p>As this is one of my first product design projects, I was happy to have learned so much in such a brief moment of time.</p>
    <ol>
      <li><b>Everything must be intentional.</b> If something is on the screen, it should serve a proper meaning or function rather than just an aesthetic choice</li>
      <li><b>It’s all for the person.</b> Sometimes I hate using the word “user” because it makes us forget that our product is for a human being with thoughts and senses rather than a robot or an inorganic specimen. Doing user research and prioritizing the people who want to use this product really empowers the formation of a successful product.</li>
      <li><b>Keep the problem in mind.</b> Often times it is easy to start designing off tangent, and it helps to really remind yourself of the central problem and to really build your designs off of one issue you are trying to solve.</li>
      <li><b>I have so much more to learn.</b> It is exciting to learn to use design softwares and build a product from scratch, but I am even more excited to learn more and continue to improve on my craft.</li>
    </ol>
    <p><b>Note:</b> Although I could have taken many creative liberties with this project, I limited my designs to what my friend could access from Spotify’s Public API in order to build the application.</p>
    <p><b>Thanks for reading!<br>-Matt</b></p>
  </body>
</html>
