<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./css/case_studies.css" style="text/css">


    <title>LiveNation Redesign</title>
  </head>

  <body>

    <h1 class="case-study-title">Design Challenge: LiveNation Redesign</h1>
    <img src="./assets/livenation/jumbotron.png" class="onehundred" alt="">
    <div class="caption">Comparison of current and redesign web layout</div>
    <!-- Background -->
    <h2>Background</h2>
    <p>I love going to music events: concerts, festivals, tours, you name it. For these reasons, I’m always on ticketing sites searching for the next event I can attend, granted that many variables are in check: the event is nearby, it’s happening in a timeframe that’s acceptable to my schedule, and I have the budget for it.</p>
    <p>However, many of the major ticketing sites (Ticketmaster, StubHub, SongKick, LiveNation, etc.) all have interfaces that don’t necessarily grant the best experience for finding a festival or event suited for a specific individual. The biggest complaints I have personally experienced and heard from countless friends are:</p>
    <ol>
      <li><em>“I spend too much time figuring out where to find the right info.”</em></li>
      <li><em>“The website layout is outdated and difficult to navigate.”</em></li>
      <li><em>“The space is so cluttered with information I don’t care about.”</em></li>
    </ol>

    <!-- Investigation and Expectations -->
    <h2>Investigation and Expectations</h2>
    <p>After spending an hour or so navigating through the site I have concluded:</p>
    <p>LiveNation excels by having many options and categories available to the users. However, it is one thing having the necessary information and another by having it difficult to access. Added, the layout does not feel user-oriented, and it lacks the personable experience that an ideal website would hold.</p>
    <img src="./assets/livenation/critique.png" class="onehundred" alt="">
    <div class="caption">Initial critique rundown of the site</div><br>
    <img src="./assets/livenation/sitemap.png" class="seventyfive" alt="">
    <div class="caption">Sitemap illustration to understand points of user entry</div>
    <h4>Expectations</h4>
    <p>When I am on a ticketing site, my purpose is to quickly find the specific event I want to attend OR quickly find an event that I would find interesting to attend. The more re-directs and links I have to be sent to are just added barriers to entry, overall decreasing my experience using the site.</p>
    <p>For that reason, emphasizing search options that are tailored to the user is the most important aspect of a ticketing service. With so many different featured events and other categories on display, sometimes it actually makes finding what a user wants much more difficult.</p><br>
    <img src="./assets/livenation/ticketmaster.png" class="onehundred" alt="">
    <div class="caption">Ticketmaster’s cluttered UI compared to StubHub’s minimal yet effective search UI</div><br>
    <p>With that said, I wanted the major driving point of my redesign to focus on search features and keeping just enough attributes available without decreasing the site’s useful information.</p>

    <!-- Redesign Process -->
    <h2>Redesign Process</h2>
    <p>At this point, I had researched many of the other major ticketing sites and found the pros and cons of what I felt were effective implementations and features to consider. I broke down the redesign into four major components:</p>
    <h4>1. Navigation Bar</h4>
    <img src="./assets/livenation/part1.png" class="onehundred" alt="">
    <div class="caption">Nav Bar Sketch and Redesign</div><br>
    <p>The nav bar was extremely narrow and cluttered with information. Added, they filled a third of the space for a newsletter subscription which is too aggressive of an initial gesture for a new user. On the right side of the nav bar, the location feature actually acts as a global filter which would change both the side bar and the tour cards. I felt confused for the longest time why it was positioned where it was if its function was for a global affect.</p>
    <p>I fixed these issues by adding significance and size to the search bar with a more fitting call-to-action. I also replaced the user location with “My Tickets” so to relocate the location filter to a better position while giving “My Tickets” a more suitable and proximal relation to the profile bar (the “My Tickets” option was originally nested in the profile drop-down menu).</p>
    <h4>2. Jumbotron/Carousel Display</h4>
    <img src="./assets/livenation/part2.png" class="onehundred" alt="">
    <div class="caption">Display Sketch and Redesign</div><br>
    <p>The carousel display was a great example of two major design flaws used on the site, the first of which was the inconsistency of design style. The display was skeuomorphic whereas the sidebar and tour info cards were a mixture of flat and material design. The second issue was the waste of desktop real estate. Not only does the display take up a lot of vertical and horizontal space, but the 3D display only displays up to 5 info cards at a time.</p>
    <p>I also realized both the carousel display and the tour information cards below were basically displaying the same information: featuring top and trending tours. Added, the featured displays and the tour info cards were not user-specific and many of the horizontal scroll displays wasted a lot of whitespace.</p>
    <p>To fix this, I combined the tour info card categories WITH the carousel display to not only make more use of the pictorial display, but also save a significant amount of screen real estate so other helpful search features could be added. This simple change repurposed the carousel display while also allowing the user to view all the top categories all on the same line instead of scrolling to find specific categories. Finally, I changed the carousel display and its arrow keys to a flat design, unifying the site design to make viewing much easier and simplified for the user.</p>
    <h4>3. Sidebar</h4>
    <img src="./assets/livenation/part3.png" class="onehundred" alt="">
    <div class="caption">Event Sidebar Sketch and Redesign</div><br>
    <p>Although the sidebar had the least amount of issues, there was one subtle change I found necessary for improvement. The location filter’s positioning in the header felt ambiguous and misplaced, especially when it was divided from the sidebar by a distinct fixed, red line.</p>
    <p>I moved the location down into the sidebar so it could be included in relation to the sidebar’s function. It was also clear to add a user-specific message that explained what the sidebar’s purpose was for.</p>
    <h4>4. Recommended Section / Smart Search</h4>
    <img src="./assets/livenation/part4.png" class="onehundred" alt="">
    <div class="caption">Sidebar Sketch and Redesign</div><br>
    <p>After repurposing the carousel display by integrating the featured tour information, I had the luxury of working with a large space, possibly adding a smart search option. I felt LiveNation lacked this user-specific feature, a feature which StubHub capitalized on and which I took inspiration off of.</p>
    <p>I chose five variables which I believed to be the most important considerations for finding a show. The smart search would by default display the events happening in a user’s specific location, and be constantly filtered based on the filters chosen.</p><br>
    <img src="./assets/livenation/smartsearch.png" class="onehundred" alt="">
    <div class="caption">Slice of Smart Search Filtering</div><br>
    <p>Finally, I changed the tour card templates from a small length-based rectangle to a wider rectangular template. The info cards before didn’t house enough space for a user to comfortably read information, and it’s small sizing made the information feel insignificant in comparison the general hierarchy of the other components on the page.</p><br>
    <img src="./assets/livenation/finalscreen.png" class="onehundred" alt="">
    <div class="caption">Smart Search Sketch and Redesign</div><br>
    <p>Thank you for reading my redesign case study and, please please please, if you have any comments or suggestions, feel free to send me an email at mattyfang10@gmail.com!</p><br><br><br>
  </body>
</html>
