<!DOCTYPE html>
<html>
  <head>                    <!-- remove  -->
    <link rel="stylesheet" href="./css/style.css" style="text/css">
    <!-- fontawesome --> <!-- remove  -->
    <link rel="stylesheet" href="./FontAwesome/web-fonts-with-css/css/fontawesome-all.min.css">
    <title>Matt Fang</title>
  </head>
  <body>

    <!--header-->
    <header>
      <!--logo left side-->
      <div class="logo">
          <!-- change back to "/" -->
        <span><a href="/">MF</a></span>
      </div>
      <!--other pages right side-->
      <nav>                         <!-- when finished change to /process -->
        <span><a class="navnav" href="/process">About</a></span>
        <span><a target="_blank" href="/assets/resume.pdf">Resumé</a></span>
      </nav>
    </header>

    <!-- Intro Container -->
    <section id="introcontainer">
      <div id="bar"></div>
        <p class="name">Hi! My name is Matt Fang. I am a digital product designer focused on building delightful and meaningful products that solve important problems.</p>
        <hr>
        <p class= "subheader">I'm currently at UCLA studying Cognitive Science and Digital Humanities. I also recently interned at Warby Parker as a UX Design Intern.</p>
    </section>

    <!-- Portfolio Container  -->
    <section id="portfolio">
      <div id="bar"></div>
      <!-- warby parker redesign -->
      <div id="warbyparker">
        <a target="_blank" href="/warbyparker">
          <div class="thumbnail"></div>
            <!-- <div class="details">
             <h2>LiveNation</h2>
              <h3>Concept Redesign Challenge</h3>
              <p>Redesigning the search capabilities of LiveNation's landing page alongside UI clean up.</p>
          </div> -->
        </a>
      </div>
      <!-- brij -->
      <div id="brij">       <!-- get rid of . and .html -->
        <a target="_blank" href="/brij">
          <div class="thumbnail"></div>
          <!-- <div class="details">
              <h2>brij</h2>
              <h3>Music Discovery App</h3>
              <p>Brij is a music application designed to redefine music discovery and sharing.</p>
          </div> -->
        </a>
      </div>
      <!-- livenation redesign -->
      <div id="livenation">
        <a target="_blank" href="/livenation">
          <div class="thumbnail"></div>
            <!-- <div class="details">
             <h2>LiveNation</h2>
              <h3>Concept Redesign Challenge</h3>
              <p>Redesigning the search capabilities of LiveNation's landing page alongside UI clean up.</p>
          </div> -->
        </a>
      </div>
      <!-- warby parker iOS -->
      <div id="wp_ios">
        <a target="_blank" href="/wp_iOS">
          <div class="thumbnail"></div>
            <!-- <div class="details">
             <h2>LiveNation</h2>
              <h3>Concept Redesign Challenge</h3>
              <p>Redesigning the search capabilities of LiveNation's landing page alongside UI clean up.</p>
          </div> -->
        </a>
      </div>
      <!-- photoshop stuff --> <!--
      <div id="website">
        <a target="_blank" href="/website">
          <div class="thumbnail"></div>
          <div class="details">
              <h2>Portfolio Website</h2>
              <h3>Design, Development</h3>
              <p>Detailed design principle and process of my portfolio layout.</p>
          </div>
        </a>
      </div> -->
      <!-- photoshop stuff -->
      <div id="photoshop">
        <a target="_blank" href="/visuals">
          <div class="thumbnail"></div>
          <!-- <div class="details">
              <h2>Visual Experimentation</h2>
              <h3>Graphic Design, Photography </h3>
              <p>An ever-expanding gallery of visual design with geometry, structure, and color schemes in mind.</p>
          </div> -->
        </a>
      </div>
  </section>
    <!-- Learn More Container -->
    <div id="links" class="section">
      <div id="bar"></div>
      <p class="learnmore">To learn more about me...</p>
      <div id="container">
        <div class="sometext">
          <p class="colorswap">Watch my travel videos and vlogs on my <b><a target="_blank" href="https://www.youtube.com/c/MattFangCreates/">YouTube</a></b>, check out my life told in squares on <b><a target="_blank" href="https://www.instagram.com/mattyfang/">Instagram</a></b>, and read about my thoughts on life, motivation, and happiness on <b><a target="_blank" href="https://medium.com/@mattfang">Medium!</a></b></p><br>
        </div>
        <div class="socialmedia">
          <a target="_blank" href="https://www.youtube.com/c/MattFangCreates/"><i class="fab fa-youtube fa-2x" style="color: #414B56"></i></a>
          <a target="_blank" href="https://www.instagram.com/mattyfang/"><i class="fab fa-instagram fa-2x" style="color: #414B56"></i></a>
          <a target="_blank" href="https://medium.com/@mattfang"><i class="fab fa-medium fa-2x" style="color: #414B56"></i></a>
        </div><br>
        <p class="center">© Matt Fang 2018</p>
      </div>
    </div>
    <!-- Let's Make Something! --><!--
    <div id="links" class="section">
      <div id="bar"></div>
      <p class="learnmore">Let's build something together!</p>
        <h3>I love taking on new projects and new challenges. If you want to talk about an application or web idea, send me an email at <b>mattyfang10@gmail.com</b></h3>
      </div>
    </div> -->
    <!-- footer but really just for more whitespace -->

  </body>
</html>
