<!DOCTYPE html>
<html>
  <head>                    <!-- remove  -->
    <link rel="stylesheet" href="./css/style.css" style="text/css">
    <!-- fontawesome --> <!-- remove  -->
    <link rel="stylesheet" href="./FontAwesome/web-fonts-with-css/css/fontawesome-all.min.css">
    <title>Matt Fang</title>
  </head>
  <body>

    <!--header-->
    <header>
      <!--logo left side-->
      <div class="logo">
          <!-- change back to "/" -->
        <span><a href="/">MF</a></span>
      </div>
      <!--other pages right side-->
      <nav>                         <!-- when finished change to /process -->
        <span><a class="navnav" href="/process">About my Process</a></span>
        <span><a target="_blank" href="./assets/resume.pdf">Resumé</a></span>
      </nav>
    </header>

    <!-- Intro Container -->
    <section id="introcontainer">
      <div id="bar"></div>
      <p class="name">Hey there! I'm Matt Fang.</p>
      <div id="infocontainer" class="section">
          <p class="about">I am currently at <b>UCLA</b> studying <b>Cognitive Science</b> and <b>Digital Humanities</b> while developing my career in <b>Product Design!</b> When I am not designing, you can find me shooting videos, longboarding, and obsessing over cute hedgehogs.<br><br>For a list of what else I have done, feel free to view my <b><a target="_blank" href="./assets/resume.pdf">resumé</a></b> or <b><a target="_blank" href="https://www.linkedin.com/in/matthew-fang/">LinkedIn</a></b>. In the meantime, check out my work and learn about my design process!</p>
          <img class="profilephoto" src="./assets/MattFang.png" alt="">
        </div>
      </div>
    </section>

    <!-- Portfolio Container  -->
    <section id="portfolio">
      <div id="bar"></div>
      <p class="header">I love making things to create better<br>experiences for people.<br> Check out what projects I have made so far!</p>
      <!-- brij -->
      <div id="brij">
        <a target="_blank" href="/brij">
          <div class="thumbnail"></div>
          <div class="details">
              <h2>brij: music discovery</h2>
              <h3>Product Design</h3>
              <p>Brij is a music application designed to redefine music discovery and sharing.</p>
          </div>
        </a>
      </div>
      <!-- livenation redesign -->
      <div id="livenation">
        <a target="_blank" href="/livenation">
          <div class="thumbnail"></div>
          <div class="details">
              <h2>LiveNation Redesign</h2>
              <h3>Product Design</h3>
              <p>Redesigning the search capabilities of LiveNation's landing page alongside UI clean up.</p>
          </div>
        </a>
      </div>
      <!-- photoshop stuff -->
      <div id="website">
        <a target="_blank" href="/website">
          <div class="thumbnail"></div>
          <div class="details">
              <h2>Portfolio Website</h2>
              <h3>Design, Development</h3>
              <p>Detailed design principle and process of my portfolio layout.</p>
          </div>
        </a>
      </div>
      <!-- photoshop stuff -->
      <div id="photoshop">
        <a target="_blank" href="/visuals">
          <div class="thumbnail"></div>
          <div class="details">
              <h2>Visual Experimentation</h2>
              <h3>Graphic Design, Photography </h3>
              <p>An ever-expanding gallery of visual design with geometry, structure, and color schemes in mind.</p>
          </div>
        </a>
      </div>
  </section>
    <!-- Learn More Container -->
    <div id="links" class="section">
      <div id="bar"></div>
      <p class="learnmore">To learn more about me...</p>
      <div id="container">
        <div class="sometext">
          <p>Watch my travel videos and vlogs on my <b><a target="_blank" href="https://www.youtube.com/c/MattFangCreates/">YouTube</a></b>, check out my life told in squares on <b><a target="_blank" href="https://www.instagram.com/mattyfang/">Instagram</a></b>, and read about my thoughts on life, motivation, and happiness on <b><a target="_blank" href="https://medium.com/@mattfang">Medium!</a></b></p><br>
        </div>
        <div class="socialmedia">
          <a target="_blank" href="https://www.youtube.com/c/MattFangCreates/"><i class="fab fa-youtube fa-3x" style="color: #141414"></i></a>
          <a target="_blank" href="https://www.instagram.com/mattyfang/"><i class="fab fa-instagram fa-3x" style="color: #141414"></i></a>
          <a target="_blank" href="https://medium.com/@mattfang"><i class="fab fa-medium fa-3x" style="color: #141414"></i></a>
        </div>
      </div>
    </div>
    <!--
    <div class="email">
      <h4>For anything else...<br></h4>
      <p>Feel free to fill up my inbox with any suggestions, comments, or an invite to talk at my <b>email!</b></p>
      <h2>mattyfang10@gmail.com</h2>
    </div>
  -->
    <!-- footer but really just for more whitespace -->
    <div class=""><br><br></div>

  </body>
</html>
