<!DOCTYPE html>
<html>
  <head>                    <!-- remove /resources -->
    <link rel="stylesheet" href="./css/case_studies.css" style="text/css">

    <!-- fontawesome --> <!-- remove /resources -->
    <link rel="stylesheet" href="./FontAwesome/web-fonts-with-css/css/fontawesome-all.min.css">

    <title>About My Process</title>
  </head>

  <body id="process_text">
    <h1>This is why I chose to be a designer</h1>
    <p>My design process was inspired by my pursuit of filmmaking and storytelling. When I started filmmaking in 2016, I found value in the collection of visual memories I was able to share with friends and family. Furthermore, I found post-production editing to be a fascinating process where I could combine and augment variables of audio and visual design to tell a certain story, and possibly inspire another person to travel more or appreciate the value of filmmaking.</p>
    <p>Similar to filmmaking, design allows me to be critical of every decision I make, all of the nuances that must be considered before even evaluating the visual design. I believe there exists an inherent beauty in the marriage of different principles of structure and design, consequently its effects on a user's experience.</p>

    <!--
    <p>In this digital age, creating a genuine and wholesome experience is by finding the balance between allowing a user to love a digital product but to use that product in a positive way that affects their health and life. The best products are the ones designed to allow technology to be an effective resource that adds value to experience, not to completely take it over.</p>
    <p>I believe a person's life is valued by the summation of their experiences.</p> -->
  </body>
