<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./css/case_studies.css" style="text/css">
    <link rel="stylesheet" href="./FontAwesome/web-fonts-with-css/css/fontawesome-all.min.css">

    <title>Sigma Eta Pi</title>
  </head>

  <body>

    <!-- Intro -->
    <div id="intro">
      <img src="/assets/sep/sep_cover.png" class="onehundred" alt=""><br>
      <div class=".verticaline"></div>
      <div class="cover"></div>
      <p class="name">Sigma Eta Pi is a co-ed entrepreneurship fraternity focused on developing undergraduates into big-picture thinkers, project-starters, and entrepreneurs.</p>
    </div>

    <!-- My Role -->
    <h2>My Role</h2><br>
    <p>I took on the position as the Director of Marketing for the preparation of our Winter Recruitment cycle. I worked closely with the recruitment chairs to clarify logistics and with the rest of the executive body for advice on the direction of the marketing campaign. I was in charge of creating all relevant marketing assets including:</p><br>
      <li>Physical flyers</li>
      <li>Recruitment T-shirts</li>
      <li>Facebook Cover Photos & Facebook Profile Photos</li>
      <li>Relevant Facebook Marketing Posts</li>
      <li>Winter Recruitment Video (video editing is so time-consuming!) </li><br><br>

      <!--problem space -->
      <h2>Problem & Goal</h2><br>
        <p>With this campaign, I felt a need to address an existing problem within the UCLA professional organization space. Business organizations tend to look for students pursuing majors in Economics, Business, Statistics, and Mathematics, possibly looking into a career in Investment Banking, Finance, or Consulting.</p><br>
        <p>On the other hand, the essence of entrepreneurship is focused on the general interest in ideas, not on traditional fields of study or corporate jobs. For this reason, our target demographic is directed towards a community of students who tend to have wide ranging ideas and interests, who choose to think and act differently. I wanted the branding and marketing to honor this distinction.</p><br>


    <!-- Developing the theme -->
    <h2>Developing the Theme</h2><br>
      <p>Sigma Eta Pi brands itself as the premier co-ed entrepreneurship fraternity, whose mission is to "transform individuals into starters who follow their passion, develop lasting relationships, and create value through innovative pursuits." With this in mind, I decided on the theme of <b>"build your future"</b> to guide the direction of the marketing campaign. Here were a few reasons why:</p><br>
      <img src="/assets/sep/principles.png" class="seventyfive" alt=""><br>
      <h3>01: Change</h3>
      <p>Themes of outer space & light bulbs (ideas!) have been long overused when discussing entrepreneurship. We felt it was time for a change.</p><br>
      <h3>02: Construction</h3>
      <p>To me, entrepreneurship is about developing a foundation of different skills sets in order to know how to make calculated risks in business development and problem solving. - I wanted to incorporate this “building-block” mentality in my designs.</p><br>
      <h3>03: Relevancy</h3>
      <p> I wanted to communicate our relevancy/seriousness while retaining a clean and unique branding. I incorporated designs that felt “daring, driven, and commanding”, deviating away from the more playful and lighthearted styles we incorporated in the past.</p><br>
      <p>Thus, it made sense to base designs around ideas of symmetry, order, clarity, and simplicity. I used a lot of geometric shapes and patterns to convey the “building-block” idea, creating visual assets that were <b>reusable</b> and <b>adaptable</b> to create new designs, similar to an atomic design system.</p><br>

    <!-- Creating the assets -->
    <h2>Creating the Assets</h2><br>
    <img src="/assets/sep/styleguide.png" class="onehundred" alt="">
    <img src="/assets/sep/otherassets.png" class="onehundred" alt=""><br>
    <p>Since we were changing our rush to the winter season, I wanted to choose colors that gave a chilly yet professional look to it. I also wanted to respect the current design trends that have been used in the branding of many companies around the tech industry, so I chose a primary, strong, accent color, which was paired with monochromatic hues (side note, I'm very interested in how design is now focused on more simplicity and minimalism and how many companies are starting to look the same).</p><br>
    <p>I also used two techniques from other designers in my final assets: the first which was in the manipulation of the accent colors. In order to keep a good flow and relationship between the blues, I increased the saturation and lowered the luminance for the darker blue, and the inverse for lighter colors. The second technique was to think about the desirability of physical flyers, asking the question "If I saw a flyer laying on a desk somewhere, would it catch my eye enough that I would want to pick it up and read it?"</p><br>
    <img src="/assets/sep/photoalbum.png" class="onehundred" alt=""><br>
    <p>Here were some of the notable insights from this recruitment cycle: 9.6k total target reach, 85+ attendees, 5k rush video views, increase of ~40% clicks to website, with less than $200 worth of marketing funds.</p><br>
    <video width="320" height="240" controls>
      <source src="./resources/assets/sep/movie.mp4" type="video/mp4">
      <source src="./resources/assets/sep/movie.ogg" type="video/ogg">
    </video>
    <p>Thank you for reading!</p><br>
  </body>
