<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./css/case_studies.css" style="text/css">
    <link rel="stylesheet" href="./FontAwesome/web-fonts-with-css/css/fontawesome-all.min.css">

    <title>Visual Experimentation</title>
  </head>
  <body>
    <!-- Intro -->
    <div id="intro">
      <img src="./assets/visuals/visualscover.png" class="onehundred" alt=""><br>
      <div class="cover"></div>
      <div class=".verticaline"></div>
      <p class="name">Visual Experimentation is an ever expanding gallery of casual Photoshop and Illustrator projects!</p>
    </div>

    <div class="work">
      <img src="./assets/visuals/alissapalms.png" class="thirtyfive" alt=""><br><br>
      <img src="./assets/visuals/prague_sky.png" class="thirtyfive" alt=""><br><br>
      <img src="./assets/visuals/sydnieglitch.png" class="thirtyfive" alt=""><br><br>
    </div>
  </body>
</html>
