<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./css/case_studies.css" style="text/css">
    <link rel="stylesheet" href="./FontAwesome/web-fonts-with-css/css/fontawesome-all.min.css">

    <title>Warby Parker</title>
  </head>

  <body>
    <!-- Intro -->
    <div id="intro">
      <img src="./assets/warbyparker/wp_cover.png" class="onehundred" alt=""><br>
      <div class="cover"></div>
      <div class=".verticaline"></div>
      <p class="name">Warby Parker is a transformative lifestyle brand that offers designer eyewear at a revolutionary price while leading the way for socially conscious businesses.</p>
    </div>

    <!-- My Role -->
    <h2>My Role</h2><br>
      <p>This summer, I spent 10 weeks in New York City interning at Warby Parker on the Experience Design team. My main project for the summer was to redesign the entire accounts section of the e-commerce page, “accounting” for all responsive screen sizes.</p><br>
      <p>While working on this project, I worked closely with Yuval, the frontend engineering intern, and Nathan, the e-commerce and consumer insights intern. Working together in this product triangle increased my understanding and exposure of our respective departments’ efforts in relation to the mission of the entire brand.</p><br>

    <!-- The Problem -->
    <h2>The Problem</h2><br>
      <p>The accounts section was built almost four years ago, as one of the first responsive projects the company undertook. Given how urgent an accounts page was needed, it was quickly thrown together to function at the most basic level. Since then, no iterations or improvements have been made. Upon review, I discovered some glaring usability issues alongside design inconsistencies.</p><br>
      <p><i>*add pictures of the old accounts section here</i></p><br>
      <p>With this mentioned, I also assisted my manager this summer in the continuing creation of a universal design system, which we believe will not only build a consistent style for the brand, but also allow design - developer handoffs for any future project much more efficient in the years to come.</p><br>

    <!-- My Process -->
    <h2>My Process</h2><br>
      <p>1. User Flow and Initial Critique</p>
      <p>2. User Interviews</p>
      <p>3. Design, Prototype, and Handoff</p><br><br>
      <hr><br><br>

    <!-- 1.User Flow and Initial Critique -->
    <h1>1. User Flow</h1><br><br>

    <h2>Initial Critique</h2><br>
      <p>My first instinct was to breakdown and get to know the accounts page. I explored all the pages and tested every edge case; I made initial judgments on the layouts, navigation, and pain points of every page and how they all worked as a whole.</p><br>
      <p><i>*insert userflow screenshot</i></p><br>
      <p>And so, there were two main usability issues that I wanted to pinpoint:</p><br>
      <p><b>1. Inconsistent Info:</b> The section inconsistently displays information containers depending on the type of customer. For example, an existing customer will have all five containers (orders, prescriptions, favorites, profile, and addresses) shown in the account’s landing page, but a new user will not see their prescriptions and addresses. I found this issue rather annoying, considering I could only add in this information by making a purchase and going through the checkout process.</p><br>
      <p><b>2. Navigation:</b> This accounts page makes a customer go deeper and deeper into one category until he/she decides to view another section in their accounts, at which point they need to go back multiple pages before they get back to the landing page. </p><br>

    <h2>Design Inspiration and Exploration</h2><br>
      <p>I also took this time to explore some other e-commerce, retail, and general design ideas to familiarize myself with how other companies approach this issue within the same industry. My focus was not only on the aesthetic qualities of certain interfaces, but also analyzing screen layouts and usability of other features.</p><br>
      <p><i>*insert design inspiration/exploration screenshot</i></p><br>

    <h1>2. User Interviews</h1><br><br>

    <h2>Interview Process</h2><br>
      <p>I worked with Nathan to conduct interviews and usability tests with multiple users. The users ranged from new customers who had never heard of Warby Parker to returning customers who had been shopping with Warby Parker for years.</p><br>
      <p>After our interviews, we sat down and gathered the most important insights, and we listed it in a ratio-style layout for more quantitative measuring. Here are just a few notable points:</p><br>

      <p><b>3 out of 5 users care about ease of navigation for sites (layout, navigation)</b></p>
        <li><i>“I’m more of a big picture, I like seeing things all at once, without having to scroll too much.”</i></li>
        <li><i>“It would be nice to have the home page that I can get everything I need to see at once.”</i></li>
        <li><i>“It’s pretty simple to know when the dropdown happens, you know what you are going into.”</i></li>
        <br>

      <p><b>3 out of 5 users expressed the importance of visual assets</b></p>
        <li><i>“Definitely use more images, it makes me want to browse the websites more.”</i></li>
        <li><i>“I just won’t always remember the name, I just always prefer having a visual reference.”</i></li>
        <br>

      <p><b>2 out of 5 users would prefer more information at their disposal</b></p>
        <li><i>“I wish I could compare frame details side by side to compare and contrast.”</i></li>
        <li><i>“Would be nice to have a check box or list that would help me see more of the specifications.”</i></li>
        <br>

    <h2>Design Principles</h2><br>
      <p>After the user interviews and sifting through the most important insights, I highlighted these three principles to guide all of my designs for the project: </p><br>
      <p><b>1. Navigation - </b>E-commerce account sections hold a dense amount of user information. I wanted to cohesively organize the section’s architecture in a way that appeared clear and usable. At the end of the day, the most important goal is allowing users to intuitively and quickly find information they need without wasting their time</p><br>
      <p><b>2.Control - </b>An essential component to building a functional product is giving users intuitive control over their information, both public and private. This took form as an expansion and collapsing of information, allowing users to sift through information with little cognitive load, while also letting users access more information when they chose to do so.</p><br>
      <p><b>Design Consistency - </b>There exists an importance of building the account sections interface to the same standard and style of the other popular pages of the site. In this case, having a consistent design style allows for a seamless transition from when a user is purchasing/exploring the website to managing their sought-after products before checkout. Keeping this consistency is crucial to a continuous and delightful shopping experience.</p><br>

    <h1>3. Design, Prototype, and Handoff</h1>
