<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./css/case_studies.css" style="text/css">
    <link rel="stylesheet" href="./FontAwesome/web-fonts-with-css/css/fontawesome-all.min.css">

    <title>Warby Parker</title>
  </head>

  <body>
    <!-- Intro -->
    <div id="intro">
      <img src="./assets/warbyparker/wp_cover.png" class="onehundred" alt=""><br>
      <div class="cover"></div>
      <div class=".verticaline"></div>
      <p class="name">Warby Parker is a transformative lifestyle brand that offers designer eyewear at a revolutionary price while leading the way for socially conscious businesses.</p>
    </div>

    <!-- My Role -->
    <h2>My Role</h2><br>
      <p>This summer, I spent 10 weeks in New York City interning at Warby Parker on the Experience Design team. My main project for the summer was to redesign the entire accounts section of the e-commerce platform, for all responsive screen sizes.</p><br>
      <p>While working on this project, I worked closely with Yuval, the frontend engineering intern, and Nathan, the e-commerce and consumer insights intern. Working together in this product triangle increased my understanding and exposure of our respective departments’ efforts in relation to the mission of the entire brand.</p><br>

    <!-- The Problem -->
    <h2>The Problem</h2><br>
      <p>The accounts section was built almost four years ago, as one of the first responsive projects the company undertook. Given how urgent an accounts page was needed, it was quickly thrown together to function at the most basic level. Since then, no iterations or improvements have been made. Upon review, I discovered some glaring usability issues alongside design inconsistencies. In the screen recording below, I don't even have access to my prescription section.</p><br>
        <div class="old">
          <video autoplay loop>
            <source src="./assets/warbyparker/old-orders.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
            <source src="./assets/warbyparker/old-orders.mp4" type='video/ogg; codecs="theora, vorbis"'>
          </video>
          <p class="caption">Current runthrough of accounts page</p><br>
        </div>
      <p>With this mentioned, I also assisted my manager this summer in the continuing creation of a universal design system, which we believe will not only build a consistent style for the brand, but also allow design - developer handoffs for any future project much more efficient in the years to come.</p><br><hr><br>

    <!-- My Process -->
    <h2>My Process</h2><br>
      <p>1. User Flow & Initial Critique</p>
      <p>2. User Interviews</p>
      <p>3. Design & Prototyping</p><br><br>


    <!-- 1.User Flow and Initial Critique -->
    <h1>1. User Flow & Initial Critique</h1><br><br>

    <h2>User Flow</h2><br>
      <p>My first instinct was to breakdown and get to know the accounts page. I explored all the pages and tested every edge case; I made initial judgments on the layouts, navigation, and pain points of every page and how they all worked as a whole.</p><br>
      <img src="./assets/warbyparker/userflow.png" class="seventyfive" alt="">
      <p class="caption">Snippet of userflow</p><br>
    <h2>Critique</h2><br>
      <p>And so, there were two main usability issues that I wanted to pinpoint:</p><br>
      <p><b>1. Inconsistent Info:</b> The section inconsistently displays information containers depending on the type of customer. For example, an existing customer will have all five containers (orders, prescriptions, favorites, profile, and addresses) shown in the account’s landing page, but a new user will not see their prescriptions and addresses. I found this issue rather annoying, considering I could only add in this information by making a purchase and going through the checkout process.</p><br>
      <p><b>2. Navigation:</b> This accounts page makes a customer go deeper and deeper into one category until he/she decides to view another section in their accounts, at which point they need to go back multiple pages before they get back to the landing page. </p><br>

    <h2>Design Inspiration and Exploration</h2><br>
      <p>I also took this time to explore some other e-commerce, retail, and general design ideas to familiarize myself with how other companies approach this issue within the same industry. My focus was not only on the aesthetic qualities of certain interfaces, but also analyzing screen layouts and usability of other features.</p><br>
      <img src="./assets/warbyparker/exploration.png" class="seventyfive" alt="">
      <p class="caption">Snippet of design exploration/inspiration</p><br><br>


    <h1>2. User Interviews</h1><br><br>

    <h2>Interview Process</h2><br>
      <p>I worked with Nathan to conduct interviews and usability tests with multiple users. The users ranged from new customers who had never heard of Warby Parker to returning customers who had been shopping with Warby Parker for years.</p><br>
      <p>After our interviews, we sat down and gathered the most important insights, and we listed it in a ratio-style layout for more quantitative measuring. Here are just a few notable points:</p><br>

      <p><b>3 out of 5 users care about ease of navigation for sites (layout, navigation)</b></p>
        <li><i>“I’m more of a big picture person, I like seeing things all at once, without having to scroll too much.”</i></li>
        <li><i>“It would be nice to have the home page that I can get everything I need to see at once.”</i></li>
        <li><i>“It’s pretty simple to know when the dropdown happens, you know what you are going into.”</i></li>
        <br>

      <p><b>3 out of 5 users expressed the importance of visual assets</b></p>
        <li><i>“Definitely use more images, it makes me want to browse the websites more.”</i></li>
        <li><i>“I just won’t always remember the name, I just always prefer having a visual reference.”</i></li>
        <li><i>“Having images and pictures make it more exciting for me to shop online.”</i></li>
        <br>

      <p><b>2 out of 5 users would prefer more information at their disposal</b></p>
        <li><i>“I wish I could compare frame details side by side to compare and contrast.”</i></li>
        <li><i>“Would be nice to have a check box or list that would help me see more of the specifications.”</i></li>
        <br>

    <h2>Design Principles</h2><br>
      <p>After the user interviews and sifting through the most important insights, I highlighted these three principles to guide all of my designs for the project: </p><br>
      <p><b>1. Navigation - </b>E-commerce account sections hold a dense amount of user information. I wanted to cohesively organize the section’s architecture in a way that appeared clear and usable. At the end of the day, the most important goal is allowing users to intuitively and quickly find information they need without wasting their time.</p><br>
      <p><b>2. Control - </b>An essential component to building a functional product is giving users intuitive control over their information, both public and private. This took form as an expansion and collapsing of information, allowing users to sift through information with little cognitive load, while also letting users access more information when they chose to do so.</p><br>
      <p><b>3. Design Consistency - </b>There exists an importance of building the account sections interface to the same standard and style of the other popular pages of the site. In this case, having a consistent design style allows for a seamless transition from when a user is purchasing/exploring the website to managing their sought-after products before checkout. Keeping this consistency is crucial to a continuous and delightful shopping experience.</p><br><br><br>

    <h1>3. Design & Prototyping</h1><br><br>
    <img src="./assets/warbyparker/orders_slice.png" class="onehundred" alt="">
    <p class="caption">Snippet of design iterations</p><br>


    <div>
      <h2>Navigation</h2><br>
        <p>By adding a fixed menu bar, users can now navigate and find all their information without having to click back and forth between pages. On mobile, I translated the idea into a dropdown menu, eliminated the need to swipe back and forth to find relevant information.</p><br>
        <p><b>Notable improvements:</b></p>
        <li>Eliminates time-consuming back and forth navigation to account landing page.</li>
        <li>Keeps all information cohesively on one page.</li>
        <li>Allows more intuitive interaction and simple usability for the user.</li>
    </div>

    <div id="container">
      <div class="left">
        <video autoplay loop>
          <source src="./assets/warbyparker/zero-states.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
          <source src="./assets/warbyparker/zero-states.mp4" type='video/ogg; codecs="theora, vorbis"'>
        </video>
        <p class="caption">Desktop Navigation (zero-states displayed)</p><br>
      </div>

      <div class="right">
        <video autoplay loop>
          <source src="./assets/warbyparker/mobile-navigation.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
          <source src="./assets/warbyparker/mobile-navigation.mp4" type='video/ogg; codecs="theora, vorbis"'>
        </video>
        <p class="caption">Mobile Navigation</p><br>
      </div>
    </div>

    <div>
      <h2>Orders</h2><br>
        <p>Orders is the most important section as most of the traffic to the accounts section gravitates towards customers who wish to check the status of their orders or past orders. I focused on creating containers with only the most relevant information, positioned in a way to make access to all parts simple and intuitive. Finally I accounted for all types of order types (single order, multiple order, home-try-on, etc.).</p><br>
        <p><b>Notable improvements:</b></p>
        <li>Integrated expand/collapse option to hide sensitive information and allow for easy navigation.</li>
        <li>Emphasized CTA and order status to make tracking and managing orders easier and quicker to find.</li>
        <li>Improved visual imagery to allow better order/frame identification.</li>
    </div>

    <div id="container">
      <div class="left">
        <video autoplay loop>
          <source src="./assets/warbyparker/desktop-orders.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
          <source src="./assets/warbyparker/desktop-orders.mp4" type='video/ogg; codecs="theora, vorbis"'>
        </video>
        <p class="caption">Desktop Orders</p><br>
      </div>

      <div class="right">
        <video autoplay loop>
          <source src="./assets/warbyparker/mobile-orders.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
          <source src="./assets/warbyparker/mobile-orders.mp4" type='video/ogg; codecs="theora, vorbis"'>
        </video>
        <p class="caption">Mobile Orders</p><br>
      </div>
    </div>

    <div>
      <h2>Favorites</h2><br>
        <p>The favorites section held the most potential for customer-facing improvement. Most of our user interviewees asked for more power features when it came to this section, as most of them wanted to utilize favorites rather than just resorting to a traditional bookmarking of frames on multiple tab pages. I built this comparison feature to enhance an intermediate-decision phase to push for more purchasing and conversion.</p><br>
        <p><b>Notable improvements:</b></p>
        <li>Comparison toggle to allow for detailed comparison when customers want expanded info.</li>
        <li>Allows customers to stay on the page instead of having to click into each display page for each frame.</li>
        <li>Eliminates need to create new tabs for comparison, reducing navigation issues and a cluttered webpage.</li>
    </div>

    <div id="container">
      <div class="left">
        <video autoplay loop>
          <source src="./assets/warbyparker/desktop-favorites.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
          <source src="./assets/warbyparker/desktop-favorites.mp4" type='video/ogg; codecs="theora, vorbis"'>
        </video>
        <p class="caption">Desktop Favorites</p><br>
      </div>

      <div class="right">
        <video autoplay loop>
          <source src="./assets/warbyparker/mobile-favorites.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
          <source src="./assets/warbyparker/mobile-favorites.mp4" type='video/ogg; codecs="theora, vorbis"'>
        </video>
        <p class="caption">Mobile Favorites</p><br>
      </div>
    </div>


    <div>
      <h2>Prescription</h2><br>
        <p>Prescription (Rx) was also an area where the expand/collapse model worked perfectly. Now dealing with sensitive health information, the ability to control what information is displayed was especially crucial. I also added a card-design to improve the pre-existing UI and set a consistent style for the addresses section.</p><br>
        <p><b>Notable improvements:</b></p>
        <li>Expand/collapse model allows user to hide and show sensitive health information with ease.</li>
        <li>Rx expiration feature subtly alerts users when they are due for an updated prescription.</li>
        <li>Improved UI animation to allow for more exciting user experience.</li>
    </div>

    <div id="container">
      <div class="left">
        <video autoplay loop>
          <source src="./assets/warbyparker/desktop-rx.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
          <source src="./assets/warbyparker/desktop-rx.mp4" type='video/ogg; codecs="theora, vorbis"'>
        </video>
        <p class="caption">Desktop Prescription</p><br>
      </div>

      <div class="right">
        <video autoplay loop>
          <source src="./assets/warbyparker/mobile-rx.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
          <source src="./assets/warbyparker/mobile-rx.mp4" type='video/ogg; codecs="theora, vorbis"'>
        </video>
        <p class="caption">Mobile Prescription</p><br>
      </div>
    </div>


    <div>
      <h2>Addresses</h2><br>
        <p>As mentioned prior, the addresses section follows a similar layout to the prescription section. This allows users for an easier recognition of how to interact with the interface.</p><br>
        <p><b>Notable improvements:</b></p>
        <li>Easier control over adding, editing, and augmenting addresses.</li>
        <li>Overlay modal window allows users to stay on the same page, reducing the number of clicks.</li>
        <li>Improved UI animation to allow for more exciting user experience.</li>
    </div>

    <div id="container">
      <div class="left">
        <video autoplay loop>
          <source src="./assets/warbyparker/desktop-addresses.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
          <source src="./assets/warbyparker/desktop-addresses.mp4" type='video/ogg; codecs="theora, vorbis"'>
        </video>
        <p class="caption">Desktop Addresses</p><br>
      </div>

      <div class="right">
        <video autoplay loop>
          <source src="./assets/warbyparker/mobile-addresses.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
          <source src="./assets/warbyparker/mobile-addresses.mp4" type='video/ogg; codecs="theora, vorbis"'>
        </video>
        <p class="caption">Mobile Addresses</p><br>
      </div>
    </div>


    <div>
      <h2>Profile</h2><br>
        <p>Because profiles had the least amount of moving parts, there was not too much to improve. However, I added an overlay window for edits (similar to addresses) and used form field and button components from the universal design system.</p><br>
        <p><b>Notable improvements:</b></p>
        <li>Overlay modal window allows users to stay on the same page, reducing the number of clicks.</li>
        <li>Improved UI animation to allow for more exciting user experience.</li>
        <li>Consistent usage of design system components.</li>
    </div>

    <div id="container">
      <div class="left">
        <video autoplay loop>
          <source src="./assets/warbyparker/desktop-profile.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
          <source src="./assets/warbyparker/desktop-profile.mp4" type='video/ogg; codecs="theora, vorbis"'>
        </video>
        <p class="caption">Desktop Profile</p><br>
      </div>

      <div class="right">
        <video autoplay loop>
          <source src="./assets/warbyparker/mobile-profile.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
          <source src="./assets/warbyparker/mobile-profile.mp4" type='video/ogg; codecs="theora, vorbis"'>
        </video>
        <p class="caption">Mobile Profile</p><br>
      </div>
    </div>

    <!-- Conclusion -->
    <p class="colorswap">Thank you for reading! To learn more about the other projects I worked on at Warby Parker, <b><a target="_blank" href="/wp_iOS">click here!</a></b><br><br><br><br>

  </body>
</html>
