<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./css/case_studies.css" style="text/css">
    <link rel="stylesheet" href="./FontAwesome/web-fonts-with-css/css/fontawesome-all.min.css">

    <title>Website Portfolio Breakdown</title>
  </head>
  <body>
    <img src="./assets/website/website_cover.png" class="onehundred" alt=""><br>
    <h1>Website Portfolio Breakdown</h1>
    <h6></h6>
    <p>I wanted my website interface to have a tone and layout that matched my personality and design inspiration. Each style and branding decision has a personal connection and relatedness to my personality and work.</p>
    <p>The <i>Avenir</i> and <i>Gloss and Bloom</i> typefaces were kept consistent to the fonts I use for my YouTube branding and editing. I also chose to keep the natural blue and monochrome colors in the color palette. I often use these blue and monochrome colors in my work, coincidentally the colors of the clothes that make up my entire wardrobe.</p>
    <img src="./assets/website/styleguide.png" class="hunnid" alt="">
    <p>I also played around with some portfolio display ideas. I ended up using the left most display as it felt most consistent with the flow of my landing page and gave equal significance to the visual and textual information.</p>
    <img src="./assets/website/mockups.png" class="hunnid" alt="">
    <p>Other significant changes:</p>
    <ul>
      <p><b>1. Landing page:</b> Adding the project section to the front page so it is viewed directly instead of having "projects" in another folder. This quick change decreases the amount of clicks to get to viewing portfolio work.</p>
      <p><b>2. Internal housing:</b> Originally my case studies were housed on a third party app, and having a user to have to be redirected is generally not the most appealing UX.</p>
      <p><b>3. Web Flow:</b> I wanted to present information in an hour glass format (general information --> specific (project work) --> back to general). I find this UI display to be most effective to provide a cohesive entry and exit out of information processing.</p>
    </ul><br><br>
  </body>
</html>
