<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./css/case_studies.css" style="text/css">
    <link rel="stylesheet" href="./FontAwesome/web-fonts-with-css/css/fontawesome-all.min.css">

    <title>Website Portfolio Breakdown</title>
  </head>
  <body>
    <img src="./assets/website/website_cover.png" class="onehundred" alt=""><br>
    <h1>Website Portfolio Breakdown</h1>
    <p>I wanted my website interface to have a tone and layout that matched my personality and design inspiration. Besides having some fun with the monochrome and blue colors (colors of clothes that I tend to wear), I wanted to make sure the navigation through the site was easy and prioritized the projects that I have made.</p>
    <p>The most significant changes I planned to make for the second model of my website were:</p>
    <ul>
      <p><b>1. Landing page:<b> adding the project to the front page (less clicks to the most important aspect of the website)</p>
      <p><b>2. Internal housing:<b> originally my case studies were housed on a third party app, which decreases UX</p>
      <p><b>3. Web Flow:<b> I wanted to present information in an hour glass format (general information --> specific (project work) --> back to general). I find this UI display to be most effective to provide a cohesive entry and exit out of information processing.</p>
    </ul><br><br><br>
    <img class="rotate" src="./assets/website/drawout.JPG" class="onehundred" alt=""><br><br><br>
    <p class="caption">Initial Sketching and Ideation</p>
  </body>
</html>
