<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./css/case_studies.css" style="text/css">


    <title>Warby Parker iOS</title>
  </head>

  <body>
    <!-- Intro -->
    <div id="intro">
      <img src="./assets/wp_ios/wp_ios_cover.png" class="onehundred" alt=""><br>
      <div class="cover"></div>
      <div class=".verticaline"></div>
      <p class="name">Warby Parker is a transformative lifestyle brand that offers designer eyewear at a revolutionary price while leading the way for socially conscious businesses.</p>
    </div>

    <p>Apart from the accounts project, I also worked on three other projects, two of which I can share! These projects took up the remainder of my internship this summer.</p><br><br>
    <hr><br><br>

    <!-- Icons -->
    <h2>1. POE Iconography</h2><br>
    <p>The first is the iconography I made for Warby Parker's "POE" system. "POE" is Warby Parker's POS system that is used by all store clerks in retail stores nationwide.</p><br>
    <p>My job was to create a series of zero-state iconography that would serve as placeholders for products and services without illustrations or graphics. Here are an example for a few of my final icons:</p><br>
    <img src="./assets/wp_ios/poe_icons.png" class="onehundred" alt=""><br>

    <!-- Prototypes -->
    <h2>2. iOS Prototyping</h2><br>
    <p>The second project was helping my manager build iOS prototypes to help with developer handoff.</p><br>
    <p>The prototype on the left shows the new sticky tooltip which prompts user to try the Home-Try-On program. The prototype on the right shows the new animation for adding accessories to a user's cart within the checkout flow.</p>

    <div id="container2">
      <div class="left2">
        <video autoplay loop>
          <source src="./assets/wp_ios/tooltip.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
          <source src="./assets/wp_ios/tooltip.mp4" type='video/ogg; codecs="theora, vorbis"'>
        </video>
        <p class="caption">Home-Try-On Tooltip</p><br>
      </div>

      <div class="right2">
        <video autoplay loop>
          <source src="./assets/wp_ios/accessory.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
          <source src="./assets/wp_ios/accessory.mp4" type='video/ogg; codecs="theora, vorbis"'>
        </video>
        <p class="caption">Add Accessories Flow</p><br>
      </div>
    </div>

  </body>
</html>
