* {
  --text-color: #333333;
  --subtext-color: #414B56;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

body {
  margin: 0;
}

html {
  font-family: "Avenir", "Helvetica", sans-serif;
  font-size: 18px;
  line-height: 1.8rem;
  color: var(--text-color);
  background-color: #f9f9f9;

  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 2s; /* Firefox < 16 */
      -ms-animation: fadein 2s; /* Internet Explorer */
       -o-animation: fadein 2s; /* Opera < 12.1 */
          animation: fadein 2s;
}

hr {
  width: 50%;
}

h1, h2, h3, h4, h5, h6, span, p, ol, li, i, ul{
  width: 55%;
  margin: 0 auto;

}

.bullets {
  width: 80%;
}

.morebullets {
  width: 90%;
}

.cover {
  background-image: url("../assets/warbyparker/wp_cover.png");
  background-position: center;
  background-size: cover;
  }

.name {
  font-size: 1.8rem;
  width: 60%;
  margin: 5em auto 5em auto;
  line-height: 3rem;
  text-align: center;
}

.name2 {
  font-size: 1.2rem;
  width: 60%;
  margin: 1em auto 1em auto;
  line-height: 1.5em;
  text-align: left;
}

.verticaline {
  border-left:
}

/* fade in animation */

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@font-face {
  font-family: "Gloss and Bloom";
  src: url(../fonts/Gloss_And_Bloom.ttf) format("truetype");
}

/* header */
header {
  display: flex;
  align-items: center;
  height: 80px;
  width: 100%;
  font-weight: 400;
  background-color: #fcfcfc;
  opacity: 0.8;
  z-index: 1;
  position: fixed;
  left: 0; right: 0; top: 0;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  flex-grow: 1;
  padding-left: 48px;
  font-weight: bold;
}

.logo a:hover {
  color: var(--logo-color);
}

header nav {
  padding-right: 40px;
  justify-content: space-between;
  display: inline-flex;
  font-weight: 450;
}

header .logo {
  font-family: "Gloss and Bloom";
  letter-spacing: 4px;
  font-size: 24px;
}

a {
  color: black !important;
}

/* Image Styling */
img {
  display: block;
  margin: 0 auto;
  height: auto;
}

#adjust {
  float: left;
  display: flex;
}

#adjust img {
  width: 10%;
  height: 100%;
}

#adjust p {
  float: right;
}

.seven {
  width: 10%;
  height: auto;
}

.ten {
  width: 15%;
  height: auto;
}


.twenty {
  width: 20%;
  height: auto;
}

.twentyfive {
  width: 25%;
  height: auto;
}

.thirtyfive {
  width: 35%;
  height: auto;
}

.fifty {
  width: 50%;
  height: auto;
}

.seventyfive {
  width: 75%;
  height: auto;
}

.onehundred {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Text */

.caption {
  font-style: italic;
  text-align: center;
  font-size: 14px;
  margin-top: 8px;
}

.rotate {
  transform: rotate(90deg);
  width: 70%;
}

.case-study-title {
  width: 70%;
  margin: 0 auto;
}


video {
  width: 100%;
}

.old {
  height: auto;
  width: 50%;
  margin: 0 auto;
}

#container {
  height: auto;
  display: flex;
  justify-content: space-around;
  margin: 2em auto 5em auto;
}

#container .left {
  width: 60%;
  height: auto;
}

#container .right {
  width: 20%;
  height: auto;
}

/* containers n shit */

#container2 {
  height: auto;
  display: flex;
  justify-content: space-around;
  margin: 2em auto 5em auto;
}

#container2 .left2 {
  width: 20%;
  height: auto;
}

#container2 .right2 {
  width: 20%;
  height: auto;
}


/* button */
.button {
    background-color: #7EB2DD;
    border-radius: 4px;
    margin: 0 auto;
    border: none;
    color: white;
    width: 10%;
    height: auto;
    padding: 1px 3px;
    text-align: center;
    text-decoration: white;
    display: block;
}
