* {
  --text-color: #141414;
  --subtext-color: #6d6d6d;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

html {
  font-family: "Avenir", "Helvetica", sans-serif;
  margin-top: 2rem;
  margin-left: 18rem;
  margin-right: 18rem;
  font-size: 18px;
  line-height: 1.8rem;
  color: var(--text-color);
}

/* header */
header {
  display: flex;
  align-items: center;
  height: 80px;
  width: 100%;
  font-weight: 400;
  background-color: #fcfcfc;
  opacity: 0.8;
  z-index: 1;
  position: fixed;
  left: 0; right: 0; top: 0;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  flex-grow: 1;
  padding-left: 48px;
  font-weight: bold;
}

.logo a:hover {
  color: var(--logo-color);
}

header nav {
  padding-right: 40px;
  justify-content: space-between;
  display: inline-flex;
  font-weight: 450;
}

.navnav {
  margin-right: 2rem;
}

header .logo {
  font-family: "Gloss and Bloom";
  letter-spacing: 4px;
  font-size: 24px;
}

a {
  color: black !important;
}



/* Image Styling */

img {
  display: block;
  margin: 0 auto;
  height: auto;
}

#intro img {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.08);
}

#problem img {
  width: 30%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}

.onehundred {
  width: 100%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.addplaylist {
  width: 85%;
}

.seventyfive {
  width: 75%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.05);
}

.landingpage {
  width: 25%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.moveprofile, .songpreview {
  width: 60%;
}

/* Text */

.caption {
  font-style: italic;
  text-align: center;
  font-size: 14px;
  margin-top: 8px;
}

.sketch {
  width: 50%;
}

#process_text {
  font-size: 0.9rem;
  margin-left: 4rem;
  margin-right: 4rem;
}
