* {
  --text-color: #141414;
  --subtext-color: #6d6d6d;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

html {
  font-family: "Avenir", "Helvetica", sans-serif;
  margin-left: 12rem;
  margin-right: 12rem;
  font-size: 16px;
  color: var(--text-color);
}

/* header */
header {
  display: flex;
  align-items: center;
  height: 80px;
  width: 100%;
  font-weight: 400;
  background-color: #fcfcfc;
  opacity: 0.8;
  z-index: 1;
  position: fixed;
  left: 0; right: 0; top: 0;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  flex-grow: 1;
  padding-left: 48px;
  font-weight: bold;
}

header nav {
  padding-right: 40px;
  justify-content: space-between;
  display: inline-flex;
  font-weight: 450;
}

.navnav {
  margin-right: 2rem;
}

header .logo {
  font-family: "Gloss and Bloom";
  letter-spacing: 4px;
  font-size: 24px;
}

a {
  color: black !important;
}


/* Intro Container */

#introcontainer {
  margin-top: 1.5rem;
}

#introcontainer .about {
  width: 60%;
  overflow: auto;
}

#introcontainer .profile {
  background-color: lightblue;
  float: right;
  background-position: center;
  background-size: cover;
  height: 335px;
  width: 30%;
  margin-top: -30px;
}

.name {
  font-size: 4rem;
  margin-top: 0em;
  font-weight: 600;
}

#infocontainer {
  height: auto;
  justify-content: flex-start;
  flex-flow: column;
}

.about {
  font-size: 1.4rem;
  margin-top: -0.9em;
  line-height: 2.1rem;
}

/* Process Container */

#processcontainer {
  margin: 0 auto;
}

#processcontainer .header {
  font-size: 3rem;
  font-weight: 600;
  margin-top: 0.6em;
}

.info {
  font-size: 1.4rem;
  line-height: 2rem;
}

/* Portfolio Container */

#portfolio .header {
  font-size: 3rem;
  font-weight: 600;
  margin-top: -2.2em;
}

#portfolio a {
  padding: 2em 2em;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

/* some dumb css issue that alissa fixed */
#portfolio a:hover {
  color: #999999;
}

#portfolio .thumbnail {
  height: 16rem;
  width: 30rem;
  position: relative;
  background-color: #7EB2DD;
}

#portfolio .details {
  height: 16rem;
  width: 24rem;
  position: relative;
  margin: 0 auto;
}

.details h2 {
  font-size: 2.2rem;
  margin-bottom: 0 !important;
  display: block;
}

.details h3 {
  font-size: 1.3rem;
  margin-top: -0.1em;
  display: block;
  font-weight: 500;
}

.details p {
  font-size: 1.2rem;
  margin-top: 1.5em;
}

/* thumbnail pictures */

#portfolio #brij .thumbnail {
  background-image: url("../assets/brij/brij.png");
  background-position: center;
  background-size: cover;
}

#portfolio #livenation .thumbnail {
  background-image: url("../assets/livenation/livenation.png");
  background-position: center;
  background-size: cover;
}

/* Learn More Container */

#links .learnmore {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0.6em;
}

.sometext {
  font-size: 1.2rem;
  width: 50%;
}

.socialmedia {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10%;
  margin-top: 4px;
}

i {
  margin-bottom: 8px;
}

.container {
  display: flex;
}

/* -------------------------------------------- */

/* Section Bars */
#introcontainer #bar {
  height: 6rem;
  width: 0.5rem;
  background-color: #7EB2DD;
  transform: translateX(-1.5rem) translateY(6rem);
  z-index: -1;
}

#processcontainer #bar{
  height: 4.2rem;
  width: 0.5rem;
  background-color: #7EB2DD;
  transform: translateX(-1.5rem) translateY(5.8rem);
  z-index: -1;
}

#portfolio #bar {
  height: 13rem;
  width: 0.5rem;
  background-color: #7EB2DD;
  transform: translateX(-1.5rem) translateY(6rem);
  z-index: -1;
}

#links .section {
  border: 1px solid black;
}

#links #bar {
  height: 4rem;
  width: 0.5rem;
  background-color: #7EB2DD;
  transform: translateX(-1.5rem) translateY(5.2rem);
  z-index: -1;
}
