/* Global Styling */

* {
  --text-color: #141414;
  --subtext-color: #6d6d6d;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

html {
  font-family: "Avenir", "Helvetica", sans-serif;
  margin-left: 12rem;
  margin-right: 12rem;
  font-size: 16px;
  color: var(--text-color);
}

/* Intro Container */

.name {
  font-size: 4rem;
  margin-top: 0em;
  font-weight: 600;
}

.about {
  font-size: 1.4rem;
  margin-top: -1em;
  line-height: 2rem;
}

/* Process Container */

#processcontainer {
  margin: 0 auto;
}

#processcontainer .header {
  font-size: 3rem;
  font-weight: 600;
  margin-top: 0.6em;
}

.info {
  font-size: 1.4rem;
  line-height: 2rem;
}

/* Portfolio Container */

#portfolio .header {
  font-size: 3rem;
  font-weight: 600;
  margin-top: -2.2em;
}

#portfolio a {
  padding: 2em 2em;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

/* some dumb css issue that alissa fixed */
#portfolio a:hover {
  color: #999999;
}

#portfolio .thumbnail {
  height: 16rem;
  width: 30rem;
  position: relative;
  background-color: #7EB2DD;
}

#portfolio .details {
  height: 16rem;
  width: 24rem;
  position: relative;
  margin: 0 auto;
}

.details h2 {
  font-size: 2.2rem;
  margin-bottom: 0 !important;
  display: block;
}

.details h3 {
  font-size: 1.3rem;
  margin-top: -0.1em;
  display: block;
  font-weight: 500;
}

.details p {
  font-size: 1.2rem;
  margin-top: 1.5em;
}

/* thumbnail pictures */

#portfolio #brij .thumbnail {
  background-image: url("../assets/brij.png");
  background-position: center;
  background-size: cover;
}

#portfolio #livenation .thumbnail {
  background-image: url("../assets/livenation.png");
  background-position: center;
  background-size: cover;
}

/* -------------------------------------------- */

/* Section Bars */
#introcontainer #bar {
  height: 6rem;
  width: 0.5rem;
  background-color: #7EB2DD;
  transform: translateX(-1.5rem) translateY(6rem);
  z-index: -1;
}

#processcontainer #bar{
  height: 4.2rem;
  width: 0.5rem;
  background-color: #7EB2DD;
  transform: translateX(-1.5rem) translateY(5.8rem);
  z-index: -1;
}

#portfolio #bar {
  height: 13rem;
  width: 0.5rem;
  background-color: #7EB2DD;
  transform: translateX(-1.5rem) translateY(6rem);
  z-index: -1;
}
